.error-404-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    row-gap: 10px;
    flex-direction: column;

    .error-404 {
        text-align: center;
    }

    .error-404-back-home-button {
        background-color: purple;
        border: 1px white solid;
        border-radius: 2rem;
        color: white;
        width: 150px;
        height: 40px;

        &:active {
            transform: scale(0.9);
        }
    }

}